@import '../fonts.css';

.AlcoholDrink-back {
  background-color: burlywood;
  backface-visibility: inherit;
  border: solid;
  border-style: ridge;
  display: flex;
  height: 33vh;
  position: relative;
  width: 96vw;
}

.AlcoholDrink-btn-more {
  background: none;
  bottom: 0%;
  color: var(--lazy-ketchup);
  border: none;
  position: absolute;
  width: 8%;
}

.AlcoholDrink-Card {
  display: flex;
  margin: 0 1vw;
  margin-top: 10vh;
}

.AlcoholDrink-front {
  backface-visibility: inherit;
  display: flex;
  position: relative;
}

.AlcoholDrink-img-container {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
  width: 100%;
}

.AlcoholDrink-material-icons-outlined {
  background: none;
  border: none;
  /* color: var(--lazy-white); */
  display: inline-block;
  direction: ltr;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-style: normal;
  font-size: 32px;
  font-weight: normal;
  height: 4vh;
  letter-spacing: normal;
  line-height: 1;
  padding: 0.5vh 1vw;
  position: absolute;
  right: 0%;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#btn-close {
  bottom: 0%;
  left: 0%;
}

#isAdd {
  color: var(--lazy-ketchup);
  top: -5vh;
}

#isFavorite {
  bottom: 0%;
  color: var(--lazy-ketchup);
  height: 5vh;
}

#more {
  transform: rotateY(180deg);
}

#notAdd {
  /* color: var(--lazy-white); */
  top: -5vh;
}

#notFavorite {
  bottom: 0%;
  color: var(--lazy-mayo);
  height: 5vh;
}

#p-back {
  display: flex;
  margin: auto;
}

.card-image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

#card-h3 {
  font-size: 21px;
  left: 25%;
  position: absolute;
  top: -17%;
}
