.Card {
  margin: 0 1vw;
}

.img-container {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}

img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

h3 {
  color: white;
  left: 25%;
  position: absolute;
}

button {
  bottom: 0px;
  position: absolute;
}
