@import '../fonts.css';

.back,
.AlcoholDrink-back,
.recipe-back,
.SoftDrink-back,
.TakeAway-back {
  background-color: burlywood;
  backface-visibility: inherit;
  border: solid;
  border-style: ridge;
  display: flex;
  height: 40vh;
  width: 96vw;
}

.btn-more,
.AlcoholDrink-btn-more,
.recipe-btn-more,
.SoftDrink-btn-more,
.TakeAway-btn-more {
  background: none;
  bottom: 0%;
  border: none;
  display: flex;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 10%;
}

.Card,
.AlcoholDrink-Card,
.recipe-Card,
.SoftDrink-Card,
.TakeAway-Card {
  display: flex;
  flex-direction: column;
  margin: 0 1vw;
  margin-top: 10vh;
}

.card-image,
.AlcoholDrink-card-image,
.recipe-card-image,
.SoftDrink-card-image,
.TakeAway-card-image {
  display: flex;
  flex-direction: column;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.desc-back,
.AlcoholDrink-desc-back,
.recipe-desc-back,
.SoftDrink-desc-back,
.TakeAway-desc-back {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.desc-title,
.AlcoholDrink-desc-title,
.recipe-desc-title,
.SoftDrink-desc-title,
.TakeAway-desc-title {
  color: var(--lazy-ketchup);
  display: flex;
  font-size: 18px;
  margin: 0 !important;
  top: -20%;
}


.front,
.AlcoholDrink-front,
.SoftDrink-front,
.TakeAway-front {
  backface-visibility: inherit;
  display: flex;
  flex-direction: column;
}

.recipe-front {
  backface-visibility: inherit;
  display: flex;
  flex-direction: column;
  width: 95vw;
}

.img-container,
.AlcoholDrink-img-container,
.SoftDrink-img-container,
.TakeAway-img-container {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 2s;
  width: 100%;
}


.recipe-img-container {
  display: flex;
  flex-direction: column;
  height: auto;
  transform-style: preserve-3d;
  transition: 2s;
}

.recipe-title,
.TakeAway-title {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 0 !important;
}

.material-icons-outlined,
.AlcoholDrink-material-icons-outlined,
.recipe-material-icons-outlined,
.SoftDrink-material-icons-outlined,
.TakeAway-material-icons-outlined {
  background: none;
  border: none;
  color: var(--lazy-white);
  display: inline-block;
  direction: ltr;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-style: normal;
  font-size: 32px;
  font-weight: normal;
  height: 4vh;
  letter-spacing: normal;
  line-height: 1;
  padding: 0.5vh 1vw;
  position: absolute;
  right: 0%;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.recipe-desc-details,
.SoftDrink-desc-details,
.TakeAway-desc-details {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.recipe-desc-details-li,
.SoftDrink-desc-details-li,
.TakeAway-desc-details-li {
  margin: 1vh;
}

#isAdd {
  bottom: 1.5%;
  color: var(--lazy-ketchup);
  display: flex;
  flex-direction: row;
  left: 46%;
}

#isFavorite {
  bottom: 2.5%;
  color: var(--lazy-mayo);
  display: row;
  height: 5vh;
}

/*#more {
  transform: rotateY(180deg);
}*/

#notAdd {
  color: var(--lazy-white);
  display: flex;
  flex-direction: row;
  bottom: 1.5%;
  left: 46%;
}

#notFavorite {
  bottom: 2.5%;
  color: var(--lazy-white);
  display: flex;
  flex-direction: row;
}
