@import '../fonts.css';

.Card {
  margin: 0 1vw;
  margin-top: 10vh;
  display: flex;
}

.img-container {
  height: 100%;
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  transition: 2s;
}

.front,
.back {
  backface-visibility: hidden;
  display: flex;
  position: relative;
}

.back {
  transform: rotateY(180deg);
}

#more {
  transform: rotateY(180deg);
}

.material-icons-outlined {
  background: none;
  border: none;
  color: var(--lazy-white);
  display: inline-block;
  direction: ltr;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-style: normal;
  font-size: 30px;
  font-weight: normal;
  height: 4vh;
  letter-spacing: normal;
  line-height: 1;
  padding: 0.5vh 1vw;
  position: absolute;
  right: 0%;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

h3 {
  color: white;
  font-size: 21px;
  left: 25%;
  position: absolute;
  top: -17%;
}

#add {
  top: -4.5vh;
}

.btn-more {
  position: absolute;
  bottom: 0%;
  background-color: var(--lazy-mayo);
}

.btn-close {
  position: absolute;
  bottom: 0%;
  background-color: var(--lazy-mayo);
}

#isFavorite {
  bottom: 0%;
  color: var(--lazy-mayo);
  height: 4.5vh;
}

#notFavorite {
  bottom: 0%;
  color: var(--lazy-white);
  height: 4.5vh;
}
