.HomeConditionsLogo {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin: auto;
  padding-top: 1vh;
}

.HomeConditions {
  align-items: center;
  background-color: var(--lazy-white);
  border-radius: 25px;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
  margin-left: 15%;
  width: 70%;
}

.HomeConditionsInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.HomeConditionssendButton {
  margin-bottom: 5vh;
  margin-top: 1vh;
}

.HomeConditionsTitle {
  color: var(--lazy-ketchup);
  margin: 2vh;
  text-align: center;
}

.HomeConditionsQuestion {
  color: var(--lazy-barbecue);
  font-size: 1.3em;
  margin: 2vh;
}

.HomeConditionsSubmit {
  background-color: var(--lazy-barbecue);
  color: var(--lazy-white);
  font-family: var(--main-font-family);
  font-size: 1.5em;
  font-weight: bold;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 65%;
  border-radius: 5px;
}

.HomeConditionssendButton {
  background-color: var(--lazy-barbecue);
  color: var(--lazy-white);
  font-family: var(--main-font-family);
  font-size: 1em;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60%;
  border-radius: 5px;
}

.HomeConditionsMood,
.HomeConditionsFat,
.HomeConditionsDrink {
  color: var(--lazy-barbecue);
  font-size: 1.3em;
  margin: 2vh;
  margin-bottom: 3vh;
}

.HomeConditionsSelect {
  background-color: var(--lazy-mayo);
  border: none;
  border-radius: 5px;
  color: var(--lazy-barbecue);
  cursor: inherit;
  font-family: var(--main-font-family);
  font-size: 0.8em;
  line-height: inherit;
  margin: 0;
}

.HomeConditionsReset {
  background-color: var(--lazy-ketchup);
  color: var(--lazy-white);
  font-family: var(--main-font-family);
  font-size: 1em;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 45%;
  border-radius: 5px;
}

.HomeConditionUserChangeButton {
  background-color: var(--lazy-ketchup);
  color: var(--lazy-white);
  font-family: var(--main-font-family);
  font-size: 1em;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 30%;
  border-radius: 5px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .HomeConditionsLogo {
    display: none;
  }
}
