@import '../fonts.css';

.Offer {
  display: flex;
  flex-direction: column;
}

.OfferLogo {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin: auto;
  padding-top: 1vh;
}

.OfferTitleh2 {
  color: var(--lazy-white);
  font-size: 2.5em;
  text-align: center;
  margin: 15px;
}

.OfferPresentationText {
  color: var(--lazy-black);
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  margin: 0.3em;
  text-align: center;
}

.Offer-Button {
  background-color: var(--lazy-barbecue);
  color: var(--lazy-white);
  font-family: var(--main-font-family);
  font-size: 1.5em;
  font-weight: bold;
  margin: auto;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 45%;
}
