@import '../fonts.css';

.OfferTitleh2 {
  color: var(--lazy-ketchup);
  display: flex;
  font-size: 2em;
  justify-content: center;
}

.OfferPresentationText {
  color: var(--lazy-black);
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  margin: 2em;
  text-align: center;
}
