@import '../fonts.css';

.product-Card {
  display: flex;
  flex-direction: column;
  margin:auto;
  background-color: white;
  width: 500vw;
}

.product-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 21px;
  left: 25%;
  top: -17%;
}

.product-front {
  background-color: var(--lazy-white);
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.btn-more {
  position: absolute;
  bottom: 0%;
  border: none;
  background: none;
}



.product-front {
  backface-visibility: inherit;
  display: flex;
  position: relative;
}

.product-img-container {
  height: auto;
  position: relative;
  width: 95vw;
  transform-style: preserve-3d;
  transition: 2s;
}

.material-icons-outlined {
  background: none;
  border: none;
  color: var(--lazy-ketchup);
  display: inline-block;
  direction: ltr;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-style: normal;
  font-size: 32px;
  font-weight: normal;
  height: 4vh;
  letter-spacing: normal;
  line-height: 1;
  padding: 0.5vh 1vw;
  position: absolute;
  right: 0%;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#btn-close {
  bottom: 0%;
  left: 0%;
}

#isAdd {
  color: var(--lazy-ketchup);
  top: -5vh;
}

.Scan-material-icons-outlined-favorite {
  bottom: 0%;
  color: var(--lazy-ketchup);
  height: 5vh;
}

#more {
  transform: rotateY(180deg);
}

#notAdd {
  color: var(--lazy-mayo);
  top: -5vh;
}

#notFavorite {
  bottom: 0%;
  color: var(--lazy-mayo);
  height: 5vh;
}

.cardImageProduct {
  background-color: var(--lazy-white);
  height: 500px;
  object-fit: contain;
  max-width: 100%;
}

.product-back {
  background-color: burlywood;
  backface-visibility: inherit;
  border: solid;
  border-style: ridge;
  display: flex;
  margin: 1px;
  padding: 2px;
}

.product-desc-back {
  display: flex;
  margin: 0;
  flex-direction: column;
  object-fit: contain;
  margin: 1px;
}

.product-desc-title {
  font-size: 20px;
  margin: 3vw;
}

.product-desc-details {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  object-fit: contain;
  word-wrap: break-word;
  padding: 10px;
}

.product-desc-details-li {
  margin: 1vh;
}