@import '../fonts.css';

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  visibility: collapse;
}

.swiper-button-next .swiper-button-prev {
  align-items: center;
  color: var(--lazy-mayo);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 75%;
  z-index: 10;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--lazy-mayo);
  font-family: swiper-icons;
  font-size: 2em;
  font-variant: initial;
  letter-spacing: 0;
  line-height: 1;
  margin-top: 2em;
  text-transform: none;
  text-transform: none !important;
  top: 75%;
}
