.AboutUsLogo {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin: auto;
  padding-top: 1vh;
}

.AboutUsTopFirstTitle {
  color: var(--lazy-white);
  font-size: 2.5em;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.AboutUsTop,
.AboutTeam,
.ContactUs {
  background-color: var(--lazy-white);
  border-radius: 10px;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
  align-items: center;
}

.AboutUsTitle,
.AboutUsTeamTitle,
.ContactUsTitle {
  color: var(--lazy-ketchup);
  display: flex;
  margin: 15px;
  justify-content: center;
}

.AboutUsConcept {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 25px 20px 25px;
}

.AboutUsTeamPresentation {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
  margin-top: 15px;
}

.AboutUsMembers {
  display: flex;
  flex-direction: row;
}

.AboutUsTeam {
  text-align: center;
}

.portraitTeam {
  display: flex;
  height: 12em;
  flex-direction: row;
  border-radius: 50%;
  margin: auto;
  margin: 1vw;
}

.ContactUsText {
  margin: auto;
  margin: 0 10vw 2vw 10vw;
}

@media screen and (max-width: 800px) {
  .AboutUsMembers {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .portraitTeam {
    display: flex;
    height: 15vh;
    border-radius: 50%;
    margin: auto;
    justify-content: space-evenly;
  }
}
