@import './fonts.css';

body {
  animation: gradient-animation 30s ease infinite;
  background: linear-gradient(142deg, #d90b08, #e6af2e, #a3320b);
  background-size: 180% 180%;
  font-family: var(--main-font-family);
  height: 100vh;
  padding-bottom: 5vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main {
  margin-bottom: 10vh;
}

