@import './fonts.css';

.catalogTitle {
  color: var(--lazy-white);
  font-size: 2.5em;
  text-align: center;
}

.catalogDesc {
  color: var(--lazy-white);
  font-size: 1.5em;
  text-align: center;
  margin: 4px;
}

.CatalogLogo {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin: auto;
  padding-top: 1vh;
}

.CatalogSectionTitle {
  color: var(--lazy-ketchup);
  text-align: center;
  font-size: 1.9em;
  margin-top: 30px;
  margin-bottom: -5vh;
  justify-self: center;
}

.catalog-hrline {
  border: none;
  border-top: 5px double var(--lazy-ketchup);
  color: var(--lazy-white);
  margin: 5vh 3vh 7vh 3vh;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.refreshButton {
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: var(--lazy-barbecue);
  color: var(--lazy-white);
  font-family: var(--main-font-family);
  font-size: 1.5em;
  font-weight: bold;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 10px;
  border-radius: 5px;
}
