@import './fonts.css';

.catalogTitle {
  color: var(--lazy-white);
  font-size: 2.5em;
  text-align: center;
}

.catalogDesc {
  color: var(--lazy-white);
  font-size: 1.5em;
  text-align: center;
  margin: 4px;
}

.CatalogLogo {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin: auto;
  padding-top: 1vh;
}

.refreshButton {
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: var(--lazy-barbecue);
  color: var(--lazy-white);
  font-family: var(--main-font-family);
  font-size: 1.5em;
  font-weight: bold;
  margin: auto;

  margin-top: 5vh;
  padding-top: 10px;
  padding-bottom: 10px;
  /* width: 65%; */
  border-radius: 5px;
}
