.FinalResultsLogo {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  margin: auto;
  padding-top: 1vh;
}

.FinalResultsPageTitle {
  color: var(--lazy-white);
  font-size: 2.5em;
  text-align: center;
  margin: 10px;
}

.FinalResultsNutritionLabel {
  text-align: center;
}

.FinalResultsH2 {
  color: var(--lazy-white);
  font-size: 2em;
  text-align: center;
  margin: 10px;
}
