@import './fonts.css';

nav {
  box-shadow: inset 1px 1px 60px 10px var(--lazy-mayo, 0.3), 3px 3px 5px -1px var(--lazy-barbecue, 0.5);
  display: none;
  height: 8%;
  left: 0;
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  align-items: center;
  display: flex;
  justify-content: end;
  margin-left: 0;
  margin-top: 3vh;
}

li {
  color: var(--lazy-white);
  display: flex;
  font-size: 2em;
  margin-right: 4%;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

li:nth-child(1) {
  left: 0;
  margin-left: 1vw;
  position: fixed;
}

@media screen and (min-width: 600px) {
  nav {
    display: block;
  }
}
