.Under18 {
  color: var(--lazy-black);
  display: block;
  flex-direction: row;
  justify-content: center;
}

.under18Title {
  color: var(--lazy-white);
  text-align: center;
  margin: 2vh 2vh 0 2vh;
}

.under18text {
  color: var(--lazy-white);
  text-align: center;
  font-size: 1em;
}

.under18ImageTitle {
  color: var(--lazy-ketchup);
  margin: 2vh;
}

.foodImages {
  width: 70%;
  margin-left: 15%;
}

.under18Logo {
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: center;
  padding-top: 1vh;
}

@media screen and (min-width: 600px) {
  .under18Logo {
    display: none;
  }
}
